name: "autolabeler"
on:
  issues:
    types: [opened, edited, milestoned]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  triage:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check Labels
      id: labeler
      uses: jimschubert/labeler-action@v2
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}