--swiftversion 5.5

# format options
--indent 2
--extensionacl on-extension
--modifierorder
--self insert
--semicolons inline
--trailingclosures
--commas inline
--stripunusedargs closure-only
--maxwidth 120
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
--ranges no-space
--xcodeindentation enabled
--patternlet hoist
--marktypes if-not-empty
--typemark "MARK: - %t"
--markextensions always
--extensionmark  "MARK: - %t + %c"
--groupedextension "MARK: - %c"
--elseposition "same-line"
--emptybraces "no-space"
--extensionacl on-declarations
--trailingclosures

# file options
--exclude Scripts, Pods, Carthage, Resource, **/Generated

# rules
--enable duplicateImports
--enable enumNamespaces
--enable isEmpty
--enable markTypes
--enable redundantBreak
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable leadingDelimiters
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceInsideBraces
--enable spaceInsideBrackets

--disable andOperator
--disable blankLinesAtStartOfScope
--disable redundantBackticks
--disable sortedSwitchCases
--disable redundantReturn
--disable void
