<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/EPLogger</string>
			<key>Title</key>
			<string>EPLogger</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Moya</string>
			<key>Title</key>
			<string>Moya</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Nimble</string>
			<key>Title</key>
			<string>Nimble</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Quick</string>
			<key>Title</key>
			<string>Quick</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/R.swift.Library</string>
			<key>Title</key>
			<string>R.swift.Library</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RIBs</string>
			<key>Title</key>
			<string>RIBs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RIBsTreeViewerClient</string>
			<key>Title</key>
			<string>RIBsTreeViewerClient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Reachability.swift</string>
			<key>Title</key>
			<string>Reachability.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ReachabilitySwift</string>
			<key>Title</key>
			<string>ReachabilitySwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ReactiveSwift</string>
			<key>Title</key>
			<string>ReactiveSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ReactorKit</string>
			<key>Title</key>
			<string>ReactorKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxDataSources</string>
			<key>Title</key>
			<string>RxDataSources</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxNimble</string>
			<key>Title</key>
			<string>RxNimble</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxReachability</string>
			<key>Title</key>
			<string>RxReachability</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxRelay</string>
			<key>Title</key>
			<string>RxRelay</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxSwiftExt</string>
			<key>Title</key>
			<string>RxSwiftExt</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/RxViewController</string>
			<key>Title</key>
			<string>RxViewController</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SkeletonView</string>
			<key>Title</key>
			<string>SkeletonView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SnapKit</string>
			<key>Title</key>
			<string>SnapKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/WeakMapTable</string>
			<key>Title</key>
			<string>WeakMapTable</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
