# ReactiveX
github "ReactiveX/RxSwift" == 5.1.0

# Architecture
github "uber/RIBs" "master"
github "ReactorKit/ReactorKit"

# Network
github "Alamofire/Alamofire" ~> 5.1
github "Moya/Moya" ~> 14.0

# Image
github "onevcat/Kingfisher" ~> 5.0

# Layout
github "SnapKit/SnapKit" ~> 5.0.0

# ETC
github "ElonPark/EPLogger" ~> 1.3.4
# github "devxoul/Then" ~> 2.6.0
# github "realm/SwiftLint" ~> 0.39.2

# Test
github "Quick/Quick" ~> 2.2.0
github "RxSwiftCommunity/RxNimble" ~> 4.7.2