# ReactiveX
github "ReactiveX/RxSwift" == 5.1.0
github "RxSwiftCommunity/RxSwiftExt" ~> 5.2.0

# Architecture
github "uber/RIBs" "master"
github "ReactorKit/ReactorKit" ~> 2.1.0
github "ReactorKit/WeakMapTable" ~> 1.1.0

# Network
github "Alamofire/Alamofire" ~> 5.1
github "Moya/Moya" ~> 14.0

# Image
github "onevcat/Kingfisher" ~> 5.0

# UI
github "Juanpe/SkeletonView" ~> 1.8.6
github "RxSwiftCommunity/RxDataSources" ~> 4.0

# Layout
github "SnapKit/SnapKit" ~> 5.0.0

# Utility
github "mac-cain13/R.swift.Library" ~> 5.2.0

# ETC
github "ElonPark/EPLogger" ~> 1.3.5
github "srea/RIBsTreeViewerClient"

# Test
github "Quick/Quick" ~> 2.2.0
github "RxSwiftCommunity/RxNimble" ~> 4.7.2